*{font-family: "Montserrat", sans-serif;}

body {
  margin: 0;
  background-color: #2b2733;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46424d;
  height: 70px;
  color: #cbc9cf;
  font-weight: 400;
  font-size: 25px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-section {
  height: 100vh;
  width: 900px;
  margin-left: 25px;
}

.left-section h1 {
  font-size: 24px;
  color: #cbc9cf;
  font-weight: 300;
}

form , .timer-view, .create-new-activity-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  width: 60vw;
  background-color: #46424d;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #26222D;
  font-size: 16px;
  color: #FFF;
  font-weight: 300;
}




/* ======== RADIOS */
[type="radio"] {
  opacity: 0;
  position: absolute;
}

[type="radio"] + img + label {
  cursor: pointer;
  height: 25px;
}

.radios{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 15%;
}

.activity-selection{
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  width: 27%;
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
}

.activity-selection:nth-child(1):hover{
  background-color: #b4fd7862;
}
.activity-selection:nth-child(2):hover{
  background-color: #C278FD62;
}
.activity-selection:nth-child(3):hover{
  background-color: #FD807862;
}

.studyChecked{
  background-color: #b4fd782f;
  color: #B3FD78;
  border: 1px solid #B3FD78;
  font-style: bold;
}
.studyChecked img{
  content: url("./assets/study-active.svg")
}

.meditateChecked{
  background-color: #C278FD2f;
  color: #C278FD;
  border: 1px solid #C278FD;
  font-style: bold;
}
.meditateChecked img{
  content: url("./assets/meditate-active.svg")
}

.exerciseChecked{
  color: #FD8078;
  background-color: #fd81782f;
  border: 1px solid #FD8078;
  font-style: bold;
}
.exerciseChecked img{
  content: url("./assets/exercise-active.svg")
}

/* ======== END RADIOS */

.form-align{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:stretch;
  width: 90%;
  height: 90%;
}

.activity-selection > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  [type="radio"]:checked + img + label {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.image {
  width: 15%;
}

.text-field-long{
  height: 30%;
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #FFF;
  color: rgb(255, 255, 255);
}

.text-field{
  height: 30%;
  width: 100%;
  display: inline-block;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #FFF;
  color: rgb(255, 255, 255);
}

.time-input{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time-input-sections{
  width: 43%;
}

.accomplish-input{
  width: 100%;
}

.accomplish-input > input[type="text"]{
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #FFF;
  color: rgb(255, 255, 255);
}

.activity-button {
  align-self: flex-end;
  background-color: #cbc9cf;
  color: #2b2733;
  border-radius: 3px;
  border: 0px;
  box-shadow: none;
  width: 190px;
  height: 30px;
}

.error-message {
  display: hidden;
  color: #EFB7EC;
  text-align: left;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 3px solid #46424d;
  height: 100vh;
  width: 500px;
}

.right-section h1 {
  font-size: 24px;
  color: #cbc9cf;
  font-weight: 300;
  margin-left: 25px;
}

#no-activities-logged {
  font-size: 15px;
  text-align: center;
  color: #cbc9cf;
  font-weight: 300;
  margin-left: 60px;
  margin-right: 60px;
}

.timer-view p{
  position: relative;
  font-size: 26px;
  top: -10%;

}

.timer-view span{
  position: relative;
  font-size: 78px;
  font-weight: 800;
  top: -15%;
}

.timer-view #startTimerButton{
  display: flex;
  background-color: inherit;
  position: relative;
  cursor: pointer;
  font-size: 32px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  top: -10%;
  color:white;
}

.log-activity-button{
  background-color: #cbc9cf;
  color: #2b2733;
  border-radius: 3px;
  border: 0px;
  box-shadow: none;
  width: 190px;
  height: 30px;
  font-size:20px;
}
.log-activity-button:hover{
  background-color: #e7ddfa;
  font-size: 22px;
  cursor: pointer;
}


.study-start-button{
  border: 3px solid #B3FD78;
}
.study-start-button:hover{
  padding: 119px 89px;
  background-color: rgba(180, 253, 120, 0.25);
}
.meditate-start-button {
  border: 3px solid #C278FD;
}
.meditate-start-button:hover{
  padding: 119px 89px;
  background-color: rgba(193, 120, 253, 0.25);
}
.exercise-start-button{
  border: 3px solid #FD8078;
}
.exercise-start-button:hover{
  padding: 119px 89px;
  background-color: rgba(253, 129, 120, 0.25);
}

.saved-activity-card-view{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 25px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #46424d;
  color: #FFF;
  font-size: 16px;
  width: 31.5vw;
  height: 11vh;
  box-shadow: 10px 5px 5px #26222D;
}


.saved-activity-card-view p{
  margin-left: 15px;
  margin-top: 0;
  margin-bottom: 0;
  height: 14px;
  font-weight: 300;
}

.saved-activity-card-view div{
  justify-content: flex-start;
  align-self: flex-end;
  margin-top: -60px;
  margin-right: 15px;
  height: 3.5vh;
  width: 0.5vh;
  border-radius: 2px;
}
.study-activity-marker{
  background-color: #B3FD78;
}
.meditate-activity-marker{
  background-color: #C278FD;
}
.exercise-activity-marker{
  background-color: #FD8078;
}


#saved-activity-category-text{
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 6px;
  margin-bottom: 0;
}

#saved-activity-duration{
  margin-top: 5px;
  font-size: 15px
}

#saved-activity-input{
margin-top: 15px;
}

.create-new-activity-button{
  background-color: #cbc9cf;
  color: #2b2733;
  border-radius: 3px;
  border: 0px;
  box-shadow: none;
  width: 300px;
  height: 30px;
  font-size:20px;
  margin-top: -60%;
}
.create-new-activity-button:hover{
  background-color: #e7ddfa;
  font-size: 22px;
  cursor: pointer;
}
.hidden {
  display:none;
}
