*{font-family: "Montserrat", sans-serif;}

body {
  margin: 0;
  background-color: #2b2733;
}

.hidden {
  display:none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46424d;
  height: 70px;
  color: #cbc9cf;
  font-weight: 400;
  font-size: 25px;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-section {
  height: 100vh;
  width: 900px;
  margin-left: 25px;
}

.left-section h1 {
  font-size: 24px;
  color: #cbc9cf;
  font-weight: 300;
}

form , .timer-view {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 80vh;
  width: 60vw;
  background-color: #46424d;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #26222D;
  font-size: 16px;
  color: #FFF;
  font-weight: 300;
}

[type="radio"] {
  opacity: 0;
  position: absolute;
}

[type="radio"] + img + label {
  cursor: pointer;
  height: 25px;
}

.radios{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 15%;
}

.activity-selection{
  justify-content: space-around;
  align-items: center;
  padding-top: 2%;
  width: 27%;
  height: 100%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  border: 2px solid;
  border-radius: 4px;
  border: 1px solid rgb(255, 255, 255);
}

.form-align{
  display:flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items:stretch;
  width: 90%;
  height: 90%;
}

.activity-selection > label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  [type="radio"]:checked + img + label {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 15%;
}

.text-field-long{
  height: 30%;
  width: 100%;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #FFF;
  color: rgb(255, 255, 255);
}

.text-field{
  height: 30%;
  width: 100%;
  display: inline-block;
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #FFF;
  color: rgb(255, 255, 255);
}

.time-input{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.time-input-sections{
  width: 43%;
}

.accomplish-input{
  width: 100%;
}

.accomplish-input > input[type="text"]{
  background-color: transparent;
  border: transparent;
  border-bottom: 1px solid #FFF;
  color: rgb(255, 255, 255);
}

.activity-button {
  align-self: flex-end;
  background-color: #cbc9cf;
  color: #2b2733;
  border-radius: 3px;
  border: 0px;
  box-shadow: none;
  width: 190px;
  height: 30px;
}

.error-message {
  display: hidden;
  color: #EFB7EC;
  text-align: left;
}

.right-section {
  border-left: 3px solid #46424d;
  height: 100vh;
  width: 500px;
}

.right-section h1 {
  font-size: 24px;
  color: #cbc9cf;
  font-weight: 300;
  margin-left: 25px;
}

.right-section h2 {
  font-size: 15px;
  text-align: center;
  color: #cbc9cf;
  font-weight: 300;
  margin-left: 60px;
  margin-right: 60px;
}

.timer-view p{
  position: relative;
  font-size: 26px;
  top: -10%;

}

.timer-view span{
  position: relative;
  font-size: 78px;
  font-weight: 800;
  top: -15%;
}

.timer-view button{
  background-color: inherit;
  position: relative;
  cursor: pointer;
  font-size: 32px;
  padding: 120px 90px;
  border-radius:300px;
}

.study-start-button{
  border: 3px solid #B3FD78;
  color: #B3FD78;
}
.study-start-button:hover{
  padding: 119px 89px;
  background-color: rgba(180, 253, 120, 0.25);
}
.start-button {
  border: 3px solid #C278FD;
  color:#C278FD;
}
.start-button:hover{
  padding: 119px 89px;
  background-color: rgba(193, 120, 253, 0.25);
}
.exercise-start-button{
  border: 3px solid #FD8078;
  color: #FD8078;
}
.exercise-start-button:hover{
  padding: 119px 89px;
  background-color: rgba(253, 129, 120, 0.25);
}
